@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Wide Imports</h1>
    <p class="lead">Use our new searching tool to find information about our products.</p>
    <p><a href="../StockItems/Index" class="btn btn-primary btn-lg">Search &raquo;</a></p>
</div>

