@model IEnumerable<CS460_HW8.Models.Athlete>

@{
    ViewBag.Title = "Index";
}

<h2>List of Athletes</h2>
<h4>Click on an athlete to show their race results.</h4>

<div class="row">
<div class="col-sm-3">
</div>

<div class="col-sm-5">
<table class="table">
    

    @foreach (var item in Model)
    {
        <tr onclick='location.href = "/SportsInfo/AthleteResults/@item.ID";'>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

        </tr>
    }

</table>
</div>

<div class="col-sm-3">
</div>
</div>